                                            TUPLES AND ITS OPERATIONS

In [13]:
# In Python,a tuple is a collection data type that is similar to a list, but tuples are immutable,They are defined using parentheses () .

x=(2,4,"India","China",22,"UAE",22)

print(tuple)

print(type(x))

(2, 4, 'India', 'China', 22, 'UAE')
<class 'tuple'>

                              Some common operations we can perform on tuple in Python

In [14]:
#COUNT 

print(x.count(22))

2

In [16]:
#INDEX   >>  "Index of a given data point"

print(x.index("India"))

2

In [17]:
#len    >> "Gives length of a variable"

print(len(x))

7

In [21]:
#SLICING 

list2=(2,4,8,"Palestine","Russia",22,4)

print(list2)

(2, 4, 8, 'Palestine', 'Russia', 22, 4)

In [22]:
print(list2[0])

2

In [23]:
print(list2[0:6])

(2, 4, 8, 'Palestine', 'Russia', 22)

In [24]:
print(list2[:])

(2, 4, 8, 'Palestine', 'Russia', 22, 4)

In [25]:
print(list2[::-1])

(4, 22, 'Russia', 'Palestine', 8, 4, 2)

In [27]:
print(list2[3][0:6])

Palest

   If you want to modify the contents of a tuple, you generally have to convert it into list and do the operations,Then convert it back.

In [43]:
#I want a add an element "Russia" into X variable.

z=list(x)

print(z)

[2, 4, 'India', 'China', 22, 'UAE', 22]

In [101]:
#Now perform any operation desired to append .

z.append("Russia")

print(z)

my_list=z

[2, 4, 'India', 'China', 22, 'UAE', 'Russia', 'Russia']

In [ ]:
#Covert back to tuple

my_tuple=tuple(my_list)