                                                         DICTIONARY

In [7]:
#TYPE
s={}

print(type(s))

<class 'dict'>

In [12]:
#CREATING A DICTIONARY
std={"name":"NUMM",
    "profession":"DATA SCIENTIST",
    "height":"182 cm",
     "country":"INDIA",
     "club":"REAL MADRID"}

In [17]:
#KEYS func

print(std.keys())

dict_keys(['name', 'profession', 'height', 'country', 'club'])

In [19]:
#VALUES func

print(std.values())

dict_values(['NUMM', 'DATA SCIENTIST', '182 cm', 'INDIA', 'REAL MADRID'])

In [41]:
#ITEMS func

print(std.items())

dict_items([('name', 'JIMM'), ('profession', 'BUSSINESS'), ('height', '172 cm'), ('country', 'INDIA'), ('club', 'MAN-UNITED')])

In [25]:
#Geeting values from keys

print(std["club"])

print(std["name"])

print(std["country"])

print(std["height"])

REAL MADRID
NUMM
INDIA
182 cm

In [27]:
#CREATING 2ND DICT 
std_02={"name":"JIMM",
    "profession":"BUSSINESS",
    "height":"172 cm",
     "country":"INDIA",
     "club":"MAN-UNITED"}

In [34]:
#EDITING EXISTING VALUES

std_02["height"]="168"

print(std_02)

{'name': 'JIMM', 'profession': 'BUSSINESS', 'height': '168', 'country': 'INDIA', 'club': 'MAN-UNITED'}

In [52]:
#FOR FUNC

for keys in std_02.keys():
    print(keys)

name
profession
height
country
club

In [53]:
#FOR
for values in std_02.values():
    print(values)

JIMM
BUSSINESS
168
INDIA
MAN-UNITED

In [54]:
#FOR
for keys , values in std_02.items():
    print(keys,values)

name JIMM
profession BUSSINESS
height 168
country INDIA
club MAN-UNITED